.section{
    margin-top: -10px;
    margin-left: -5px;
    display: flex;
    flex-direction: column;
}
.container{
    margin-left: 55%;
    margin-top: 5%;
    position:absolute;
  
}

.containerLoading{
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 200px;

    position:absolute;
  
}
.white{
    font-size: 400%;
    font-weight: 700;
    color:white;
    margin-bottom: 12px;
}
.rojo{
    color: #FA4D09;
    font-size: 400%;
    font-weight: 700;
    margin-bottom: 12px;
}
.bold{
    font-weight: 800;
    color: #FA4D09;
    font-size: 400%;
    font-weight: 900;
}

.fondo{
    width: 100%;
    position: absolute;
    z-index: -1;

}
.m1{
    z-index: 1;
    position:absolute;
    left: 5rem;
    top: 3rem;
}

.flecha{
    position: absolute;
    margin-top: 38%;
    margin-left: 48%;
}
.saber{
    
    position: absolute;
    margin-top: 43%;
    margin-left: 46%;
    color: white;
    font-weight: bold;
}

